* {
    font-family: sans-serif;
    margin: 0;
    padding: 0%;
    box-sizing: border-box;



}
h1 { 
    position: absolute;
    opacity: 0;
    z-index: -1;
}

#cabecalho {
    background-color: rgba(16, 80, 255, 0.705);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#cabecalho>img {
    width: 70px;
    height: 70px;


}

#cabecalho nav {
    display: flex;
    gap: 16px;
    /* Espaçamento entre os links, opcional */
    align-items: center;
    /* Alinha verticalmente, opcional */
}

#cabecalho nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;

}

main section>div img {
    width: 120px;
    /* Altere para o tamanho desejado */
    height: 120px;
    object-fit: cover;
    /* Mantém o corte proporcional */
}

/*main section > div {
    display: flex;
    flex-direction: column;
    
    background-color: rgba(163, 62, 62, 0.241);
    
    
    margin-bottom: 20px; Espaçamento entre os modelos  
}
*/
main section>div span {
    color: blue;
    font-size: 20px;

}

main section>div h3 {
    font-size: 20px;
    color: rgb(34, 196, 255);


}

#container-flex-produtos {
    display: flex;
    align-items: center;
     flex-wrap: wrap; 
    column-gap: 16px;
    /* Espaçamento entre os cards */
    background-color: rgba(65, 105, 225, 0.589);
    justify-content: space-between ;
    letter-spacing: 2px;
    row-gap: 10px;
}

.card-produto {
    background-color: rgba(0, 0, 0, 0.637);
    border: 2px solid #1d77ffb8;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    width: 200px;
    /* Largura fixa para cada card */
    color: white;
    height: 280px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    object-fit: cover;
    object-position: center;
    margin: 10px;
}

#container-flex-suporte-cliente {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(94, 127, 227, 0.589);
    padding: 20px;
    gap: 25px 0;
}

form {
    
    gap: 10px;
    margin-top: 20px;
    background-color: rgba(65, 105, 225, 0.589);
    width: 50%;
    height: 1000px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    
}
.inputss {
    border: 3px solid #5acbf8c4;
    border-radius: 4px; 
    padding: 10px;
    font-size: 16px;
    height: 35px;
}
.buttons {
    background-color: #1d77ffb8;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;   
    font-size: 16px;
    height: 35px;
    width: 100px;
    cursor: pointer;
}